@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html class="wide wow-animation smoothscroll scrollTo" lang="en">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="SANA design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="~/images/favicon.ico" type="~/image/x-icon">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Head-->
        <header class="page-head">
            <!-- RD Navbar minimal-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-minimal rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" data-lg-auto-height="true" data-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-top-panel">
                            <div>
                                <address class="contact-info d-md-inline-block text-left offset-none">
                                    <div class="p unit unit-spacing-xs flex-row">
                                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-primary"></span></div>
                                    </div>
                                </address>
                            </div>
                            <!--Navbar Brand-->
                            <div class="rd-navbar-brand d-none d-xl-inline-block"><img src="~/images/logo-default-404x92.png" alt="" width="202" height="46" /></a></div>
                            <div>
                                <address class="contact-info d-md-inline-block text-left">
                                    <div class="p unit flex-row unit-spacing-xs">
                                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-primary"></span></div>
                                    </div>
                                </address>
                            </div>
                        </div>

    <section class="section-60 section-sm-110 novi-background bg-cover">
        <div class="container">
            <h3>What makes us different</h3>
            <hr class="divider divider-lg bg-accent">
            <div class="row row-30 justify-content-sm-center offset-top-40 offset-sm-top-60 offset-lg-top-80">
                <div class="col-md-4">
                    <img class="icon-img" src="~/images/icons/icon-medic-53x94.png" alt="" width="53" height="94">
                    <h5>Qualified specialists</h5>
                    <p>We hire the best specialists to deliver top-notch diagnostic services for you.</p>
                </div>
                <div class="col-md-4">
                    <img class="icon-img" src="~/images/icons/icon-bed-94x94.png" alt="" width="94" height="94">
                    <h5>Modern equipment</h5>
                    <p>We use the first-class medical equipment for timely diagnostics of various diseases.</p>
                </div>
                <div class="col-md-4">
                    <img class="icon-img" src="~/images/icons/icon-hospital-94x94.png" alt="" width="94" height="94">
                    <h5>24-hour service</h5>
                    <p>Anytime you need help, you may contact us and our receptionist will make an appointment for you.</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>